<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wypożyczalnia rowerów miejskich</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/main_page_style.css}">
</head>

<body>

<header>
    <div class="top-bar">
        <button class="menu-toggle" onclick="toggleMenu()">☰</button>
        <nav class="side-menu">
            <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
                <i class="fas fa-times"></i> Zamknij
            </button>
            <ul>
                <li><a href="/main_page">Strona główna</a></li>
                <li><a href="/cars">Samochody</a></li>
                <li><a href="/services">Usługi</a></li>
                <li><a href="/price_list">Cennik</a></li>
                <li><a href="/about_us">O nas</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </nav>

        <h1 class="h1-top-bar">
            <span th:if="${loggedInUser}" th:text="${'Witaj, ' + loggedInUser.firstName + ' ' + loggedInUser.lastName + '!'}"></span>
        </h1>

        <div class="auth-buttons">

                <span th:if="${loggedInUser}">
                    <span th:if="${role eq 'Administrator'}">
                    <button type="button" class="btn btn-secondary" onclick="panel()">Panel</button>
                </span>
                    <button type="button" class="btn btn-secondary logout-button" onclick="logout()">Wyloguj się</button>
                </span>

            <span th:unless="${loggedInUser}">
                <button type="button" class="register-button" onclick="redirectToRegister()">Rejestracja</button>
                <button type="button" class="login-button" onclick="redirectToLogin()">Logowanie</button>
            </span>

        </div>
    </div>
</header>

<div class="toolbar-login">
    <div class="toolbar">
        <div class="toolbar-top"></div>
    </div>
</div>

<div class="carsList">
    <table>
        <thead>
        <tr>
            <th>Numer Samochodu</th>
            <th>Marka</th>
            <th>Dostępność</th>
<!--            <th>Opcje</th> &lt;!&ndash; Nowa kolumna dla przycisku "Zarezerwuj" &ndash;&gt;-->
        </tr>
        </thead>
        <tbody>
        <th:block th:each="car : ${getAllCars}">
            <tr>
                <td th:text="${car.number}">Numer samochodu</td>
                <td th:text="${car.brand}">Marka</td>
                <td th:text="${car.available ? 'Dostępny' : 'Niedostępny'}">Dostępność</td>
                <td>
                    <button class="btn btn-primary">Edytuj</button>
                    <form th:action="@{'/deleteCars/' + ${car.id}}" method="post" style="display: inline;">
                        <button class="btn btn-danger" type="submit">Usuń</button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>
<div class="add-car-form">
    <h3>Dodaj Samochód</h3>
    <!-- Zmień atrybut action na Twój endpoint backendowy do dodawania roweru -->
    <form action="/addCar" method="post">
        <div class="form-group">
            <label for="carNumber">Numer samochodu:</label>
            <input type="text" id="carNumber" name="carNumber" required>
        </div>
        <div class="form-group">
            <label for="carBrand">Marka samochodu:</label>
            <input type="text" id="carBrand" name="carBrand" required>
        </div>
        <div class="form-group">
            <label for="carAvailable">Dostępny:</label>
            <select id="carAvailable" name="carAvailable" required>
                <option value="true">Tak</option>
                <option value="false">Nie</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Dodaj Samochód</button>
    </form>
</div>
</div>



<footer>
    <p>2025 Car Rental &copy;</p>
</footer>

<script>
    function toggleMenu() {
        var sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.toggle('open');
    }

    function redirectToLogin() {
        window.location.href = "/login";
    }
    function redirectToRegister() {
        window.location.href = "/register";
    }



</script>
<script>
    function logout() {
        // W tym miejscu możesz wykonać operacje związane z wylogowywaniem,
        // np. zakończenie sesji, usuwanie atrybutu 'loggedInUser' itp.

        // Następnie przekieruj użytkownika na stronę wylogowania
        window.location.href = "/logout";  // Zakładając, że masz endpoint '/logout' do obsługi wylogowywania
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
